@font-face {
    font-family: 'pacifico regular';
    src: url('../fonts/pacifico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway bold';
    src: url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway light';
    src: url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway heavy';
    src: url('../fonts/raleway-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'raleway light';
	font-size: 17px;
	color: #262626;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}



.link{
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
}

.row {
	display: flex;
	width: 100%;
}

.column{
	display: inline-block;
	margin: 0 15px;
	font-size: 17px;
}

.column-s1 {
	width: calc(8.333333333% - 30px);

}

.column-s2 {
	width: calc(16.66666667% - 30px);
}

.column-s3 {
	width: calc(25% - 30px);
}

.column-s4 {
	width: calc(33.33333333% - 30px);
}

.column-s5 {
	width: calc(41.66666667% - 30px);
}

.column-s6 {
	width: calc(50% - 30px);
}

.column-s7 {
	width: calc(58.33333333% - 30px);
}

.column-s8 {
	width: calc(66.66666667% - 30px);
}

.column-s9 {
	width: calc(75% - 30px);
}

.column-s10 {
	width: calc(83.33333333% - 30px);
}

.column-s11 {
	width: calc(91.66666667% - 30px);
}

.column-s12 {
	width: calc(100% - 30px);
}

.offset-s1 {
	margin-left: calc(8.33333333% + 15px);

}

.offset-s2 {
	margin-left: calc(16.66666667% + 15px);
}

.offset-s3 {
	margin-left: calc(25% + 15px);
}

.offset-s4 {
	margin-left: calc(33.33333333% + 15px);
}

.offset-s5 {
	margin-left: calc(41.66666667% + 15px);
}

.offset-s6 {
	margin-left: calc(50% + 15px);
}

.offset-s7 {
	margin-left: calc(58.33333333% + 15px);
}

.offset-s8 {
	margin-left: calc(66.66666667% + 15px);
}

.offset-s9 {
	margin-left: calc(75% + 15px);
}

.offset-s10 {
	margin-left: calc(83.33333333% + 15px);
}

.offset-s11 {
	margin-left: calc(91.66666667% + 15px);
}

.offset-s12 {
	margin-left: calc(100% + 15px);
}

.section-h2 {
	margin-bottom: 30px; 
	font-family: 'raleway bold';
	font-size: 90px;
	line-height: 0.8;
}

/*header*/
.wrap__header {
	background-image: url(../img/header-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	position: relative;
	min-height: 100vh;
	padding-top: 57px;
}

.logo {
	position: absolute;
	top: 50px;
	left: 15px;
	font-family: 'pacifico regular';
	font-weight: 300;
	font-size: 50px;
}

.list {
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list__menu {
	display: flex;
	margin-bottom: 270px;
	padding: 0;
	font-size: 0;
}

.list-nav__link{
	display: inline-block;
	font-family: 'raleway bold', Arial, Sans-Serif;
	font-size: 16px;
	line-height: 1.56;
	text-transform: uppercase;
}

.list-nav__link:hover,
.list-nav__link:active {
	box-shadow: 0 -3px 0 0 #ff6033;
}

/*info*/

.info__title {
	margin-bottom: 30px;
	font-family: 'raleway heavy';
	font-size: 60px;
	line-height: 0.8;
}

.info__text {
	margin-bottom: 30px;
	text-align: justify;
	line-height: 1.6;
}

.btn-info {
	width: 200px;
	height: 55px;
	padding: 0;
	border: none;
	background-color: #ff6033;
	box-shadow: 0 2px 1px 1px #9a9a9c; 
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
}

.scroll__header {
	position: absolute;
	display: block;
	width: 24px;
	height: 40px;
	bottom: 69px;
	left: 50%;
	margin-left: -12px;
	border-radius: 14px;
}

.scroll__header:hover {
	box-shadow: 0 0 0 3px #ffe200;
	background-color: #00ccff;
}

/*about*/
.wrap__about {
	background-color: rgba(0, 196, 196, 0.9);
}

.section-about {
	padding: 50px 0;
	color: #ffffff;
}

.bg-img {
	height: 600px;
	background-image: url(../img/about-img.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 0;
}

.plate {
	width: 100%;
	height: auto;
}

.block-text {
	padding-top: 130px;
}

.section-text {
	margin-bottom: 15px;
	line-height: 1.68;
}

/*services*/

.wrap__services {
	padding: 100px 0 100px;
	background-color: #70bfff;	
}

.list__services-menu {
	padding-top: 80px;
	font-family: 'raleway bold';
}

.link__services {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 400px;
	height: 100px;
	margin-bottom: 20px;
	padding: 0;
	background-color: #ffffff;
	text-align: center;
}

.link__services:hover {
	box-shadow: 0 2px 5px 1px #45769e;
}

.link__text {
	width: 75%;
	text-align: center;
}

.block-text__services {
	display: flex;
	align-items: center;
	padding: 0;
	background-image: url(../img/services-img.png);
	background-repeat: no-repeat;
	background-position: right;
	color: #ffffff;
}

.svg-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 100%;
	border-left: 1px solid #9d9d9d;
}

/*gallery*/






/*subscribe*/

/*blog*/

/*footer*/